:root {
  --dark-color: #04b448;
  --light-color: #fff;
  --bg-color: #036d8d;
  --delete: #e93c3c;
  --edit: #07a8da;
  --clear: #ff7f50;
}

.card {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: 200px;
  background-color: var(--bg-color);
  border: 3px solid var(--dark-color);
  color: var(--dark-color);
  max-width: 18%;
  height: 10rem;
}

.card-link {
  color: var(--dark-color);
}

/* Button Styles. */
.btn {
  background-color: transparent;
  color: var(--dark-color);
  border: 3px solid var(--dark-color);
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none !important;
  border: 3px solid var(--dark-color);
  color: var(--bg-color);
}

#clear {
  border: 3px solid var(--clear);
  color: var(--clear);
}

#clear:hover {
  background-color: var(--clear);
  color: var(--bg-color);
}

#add:hover {
  background-color: var(--dark-color);
}

.edit {
  border: 3px solid var(--edit);
  color: var(--edit);
  margin-right: 1.8rem;
}

.edit:hover {
  background-color: var(--edit);
  border: 3px solid var(--edit);
}

.delete {
  border: 3px solid var(--delete);
  color: var(--delete);
}
.delete:hover {
  border: 3px solid var(--delete);
  color: var(--bg-color);
  background-color: var(--delete);
}
label {
  font-size: 1.1rem;
  color: var(--dark-color);
  font-weight: bold;
}

input {
  border: 3px solid var(--dark-color);
  border-radius: 6px;
}

input:focus,
input:active {
  outline: none !important;
}

form {
  background-color: var(--bg-color);
  border: 3px solid var(--dark-color);
  width: 38rem;
  border-radius: 6px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.d-flex {
  margin-top: 3rem;
}

h5 {
  text-align: center;
}
