:root {
  --dark-color: #04b448;
  --light-color: #fff;
  --bg-color: #036d8d;
  --delete: #e93c3c;
  --edit: #07a8da;
}

label {
  font-size: 1.1rem;
  color: var(--dark-color);
  font-weight: bold;
}

.btn {
  background-color: transparent;
  color: var(--dark-color);
  border: 3px solid var(--dark-color);
  border-radius: 6px;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: var(--dark-color);
  color: var(--bg-color);
  /* This removes the blue outline on active and focus. */
  outline: none;
  box-shadow: none !important;
  border: 3px solid var(--dark-color) !important;
}

#clear {
  border: 3px solid coral;
  color: coral;
}

#clear:hover {
  background-color: coral;
  color: var(--bg-color);
}

#clear:focus,
#clear:active {
  border: 3px solid coral;
  background-color: coral;
  color: var(--bg-color);
  /* All important flags are to overwrite bootstrap styles. */
  box-shadow: none !important;
  outline: none !important;
}

.card {
  background-color: var(--bg-color);
  border: 3px solid var(--dark-color);
  color: var(--dark-color);
  max-width: 12%;
}

.card-link {
  color: var(--dark-color);
}

.edit-link {
  color: var(--edit);
}

.edit-link:hover {
  color: var(--edit);
  filter: brightness(80%);
}

.delete-link {
  color: var(--delete);
}

.delete-link:hover {
  color: var(--delete);
  filter: brightness(80%);
}

.btn:hover {
  background-color: var(--dark-color);
  color: var(--bg-color);
  border: 3px solid var(--dark-color);
}

.btn:focus {
  border: none;
  background-color: var(--dark-color);
}

input {
  border: 3px solid var(--dark-color);
  border-radius: 6px;
}

input:focus,
input:active {
  outline: none !important;
}

form {
  background-color: var(--bg-color);
  border: 3px solid var(--dark-color);
  width: 38rem;
  border-radius: 6px;
}
