:root {
  --dark-color: #04b448;
  --light-color: #fff;
  --bg-color: #036d8d;
  --delete: #e93c3c;
  --edit: #07a8da;
  --clear: #ff7f50;
  --box: #00000085;
  --border: 3px solid;
  --shadow: 5px 5px 10px 0 var(--box);
  --dark-border: var(--border) var(--dark-color);
  --clear-border: var(--border) var(--clear);
  --edit-border: var(--border) var(--edit);
  --delete-border: var(--border) var(--delete);
}

.card {
  box-shadow: var(--shadow);
  padding: 1rem;
  width: 200px;
  background-color: var(--bg-color);
  border: var(--dark-border);
  color: var(--dark-color);
  max-width: 18%;
  height: 10rem;
}

.card-link {
  color: var(--dark-color);
}

/* Button Styles. */
.btn {
  background-color: transparent;
  color: var(--dark-color);
  border: var(--dark-border);
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none !important;
  border: var(--dark-border);
  color: var(--bg-color);
}

#clear {
  border: var(--clear-border);
  color: var(--clear);
}

#clear:hover,
#clear:focus,
#clear:active {
  background-color: var(--clear);
  color: var(--bg-color);
}

#add:hover,
#add:active,
#add:focus {
  background-color: var(--dark-color);
}

.edit {
  border: var(--edit-border);
  color: var(--edit);
  margin-right: 1.8rem;
}

.edit:hover,
.edit:active,
.edit:focus {
  background-color: var(--edit);
  border: var(--edit-border);
}

#edit:hover,
#edit:active,
#edit:focus {
  background-color: var(--dark-color);
}

.delete {
  border: var(--delete-border);
  color: var(--delete);
}

.delete:hover,
.delete:focus,
.delete:active {
  border: var(--delete-border);
  color: var(--bg-color);
  background-color: var(--delete);
}
label {
  font-size: 1.1rem;
  color: var(--dark-color);
  font-weight: bold;
}

input {
  border: var(--dark-border);
  border-radius: 6px;
}

input:focus,
input:active {
  outline: none !important;
}

form {
  background-color: var(--bg-color);
  border: var(--dark-border);
  width: 36rem;
  border-radius: 6px;
  box-shadow: var(--shadow);
}

.d-flex {
  margin-top: 3rem;
}

h5 {
  text-align: center;
}
